body {
    font-family: 'roboto'; 
    color: #000;
}
.judul {
    background: #7D1D8;
    padding: 10px;
    text-align: center;
}
.judul h1, h2, h3 {
    height: 15px; 
}
a {
    /*color: #fff;*/ /* Baris ini dikomentari */
    padding: 5px;
    text-decoration: none; 
}
.table {
    border-collapse: collapse; 
}

.table th, .table tr td {
    padding: 10px 20px; 
}
